/* Style global */
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #1d1d1d;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Titre principal */
h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 20px;
}

.search-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-container input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.search-container input:focus {
  outline: none;
  border-color: #6210ce;
}

/* Conteneur principal */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1500px;
  margin: 0 auto;
  padding: 40x;
}

/* Carte de l'apprenant */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  transition: transform 0.3s ease;
}

/* Effet hover sur la carte */
.card:hover {
  transform: translateY(-10px);
}

/* Image du profil */
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

/* Nom de l'apprenant */
.name {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 10px;
}

/* Promotion */
.promo {
  font-size: 1rem;
  color: #333;
  margin-top: 5px;
}

/* Compétences */
.skills {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.skill {
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  margin: 5px;
  color: white;
}

.skill-default { background-color: #6210ce; }

.links img {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

/* Pour les petits écrans */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .card {
    height: auto;
    padding: 15px;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }
}
